body {
    background-color: #000;
    color: #fff; /* Text color */
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 200px; /* Adjust size as needed */
    margin: 10px; /* Adjust spacing */
}
